*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'tajawal', sans-serif;
    box-sizing: border-box;
}

body{
    background: #fefefe;
    overflow: hidden;
}

img{
    max-width: 10rem;
}

header{
    position: fixed;
z-index: 1;
    width: 100%;
    height: 80px;
    background: rgba(228, 228, 228, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 15px;
    padding: 10px 25px;
    transition: ease 0.4s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: rgba(228, 228, 228, 0.1);
}


@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    header{
       .hamburger{
        display: block;
        cursor: pointer;
       }

       .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
       }

       .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(228, 228, 228, 0.1);
        transition: ease 0.5s;
        overflow: hidden;
       }
       .nav-bar.active{
        height: 450px;
       }

       .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: ease 0.3s;
        opacity: 0;
       }

       .nav-bar.active ul{
        opacity: 1;
       }

       .nav-bar ul li a{
        margin-bottom: 12px;
       }
    }
}

.intro-img{
    object-fit: cover;
    text-align: center;
    position: relative;
    height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'tajawal', sans-serif;
}

header{
    margin-right: 1rem;
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgba(228, 228, 228, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 100;
}

body{
    overflow: hidden;
}

.logo{
    padding-top: 6.5px;
    max-width: 10rem;
}

.nav-bar ul{
    display: flex;
}

.nav-links{
    list-style: none;
}

.nav-link{
    padding: 0px 20px;
     border: 1px solid transparent;
     gap: 2rem;
    display: flex;
     text-decoration: none;
    color: #fff;
    transition: ease 0.2s;
    border-radius: 5px;
}

.nav-links a:hover{
    color: rgba(228, 228, 228, 0.7);
}

.hamburger{
    display: none;
    height: 2.5rem;
}

.line{
    margin: 0.4rem;
    background-color: #fff;
    width: 30px;
    height: 5px;
}

@media only screen and (max-width: 43rem) {
    header{
        .hamburger{
            display: block;
            cursor: pointer;
           }
    
           .hamburger .line{
            width: 30px;
            height: 3px;
            background: #fefefe;
            margin: 6px 0;
           }
    
        .nav-bar{
         height: 0px;
         position: absolute;
         top: 80px;
         left: 0;
         right: 0;
         width: 100vw;
         background: #202020;
         transition: ease 0.5s;
         overflow: hidden;
         z-index: 20;
        }
        
        .nav-bar{
         height: 450px;
         z-index: 20;
        }
 
        .nav-bar .nav-links{
         display: block;
         width: fit-content;
         margin: 80px auto 0 auto;
         text-align: center;
         transition: ease 0.3s;
         opacity: 0;
         z-index: 20;
        }
 
        .nav-bar{
         opacity: 1;
         z-index: 20;
        }
 
        .nav-bar li a{
         margin-bottom: 12px;
         z-index: 20;
        }
     }

.nav-bar{
    display: none;
    z-index: 20;
}

}

.intro-img{
    object-fit: cover;
    text-align: center;
    position: relative;
    height: 100vh;
    min-width: 100vw;
    overflow: hidden;
} */